@import url('http://fonts.googleapis.com/css?family=Tangerine');

html{
	display:block;
	background-color:#D5C9BD;
}
::selection {
    background: #9F111B;
	color:white;
}

a{
	color: #9F111B;
}

body{
	margin:0;
	font-family: 'Open Sans', sans-serif;
	font-size:20px;
	background-color: #D5C9BD;
}

#container{
	width: 1000px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	margin-top:15px;
	padding-bottom:70px;
}

#socialbanner{
	margin-left:auto;
	margin-right:auto;
	position:relative;
	z-index:2;
	display:inline-block;
}

.socialicon{
	width:50px;
	height:50px;
	margin-left:10px;
	display:block;
	float:left;
}

.twittericon{
	background-image:url(../images/icons/twitter_g.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin-left:0;
}

.instaicon{
	background-image:url(../images/icons/instagram_g.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.linkedicon{
	background-image:url(../images/icons/linkedin_g.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.fbicon{
	background-image:url(../images/icons/facebook_g.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.twittericon:hover{
	background-image:url(../images/icons/twitter.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.instaicon:hover{
	background-image:url(../images/icons/instagram.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.linkedicon:hover{
	background-image:url(../images/icons/linkedin.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.fbicon:hover{
	background-image:url(../images/icons/facebook.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
#banner{
	height:300px;
	width:100%;
	float:left;
	background:url(../images/dan.png) no-repeat center;
	background-size: auto 300px;
	position:relative;
	z-index:1;
}

#navbar{
	margin-top:20px;
	float:left;
	width:100%;
	padding:0;
	font-family: 'Roboto Slab', serif;
	font-size:20px;
}

.menu_item{
	text-align:center;
	color:black;
	text-decoration:none;
	padding:15px 17px 15px 17px;
	font-size:18px;
}

.menu_item:hover{
	background:url(../images/menubg_red.png);
	background-size: 100% 100%;
    background-repeat: no-repeat;
	color:#9F111B;
	text-decoration:none;
}


.selected{
	color:#9F111B;
}

.s82:hover{
	background:url(../images/menubg_82.png);
	background-size: 100% 100%;
    background-repeat: no-repeat;
}


.s102:hover{
	background:url(../images/menubg_102.png);
	background-size: 100% 100%;
    background-repeat: no-repeat;
}


.s139:hover{
	background:url(../images/menubg_139.png);
	background-size: 100% 100%;
    background-repeat: no-repeat;
}


.s94:hover{
	background:url(../images/menubg_94.png);
	background-size: 100% 100%;
    background-repeat: no-repeat;
}

#main{
	width:70%;	
	margin-top:50px;
	font-size: 15px;
	text-align:center;
	display: inline-block;
	font-family: 'Open Sans Condensed', sans-serif;
	margin-left:10%;
	margin-right:10%;
}

#main2{
	width:100%;	
	padding-top:50px;
	font-size: 15px;
	text-align:center;
	display: inline-block;
	font-family: 'Open Sans Condensed', sans-serif;
}

#main p2{

	font-size:12px;

}

headr1{
	font-family: 'Tangerine', cursive;
	font-size:50px;
	display:block;
	
}

.video{
	border: 1px solid black;
}

.or-spacer {
  margin-top: 20px;
  margin-left: auto;
  margin-right:auto;
  width: 400px;
  position: relative;
}
.or-spacer .mask {
  overflow: hidden;
  height: 20px;
}
.or-spacer .mask:after {
  content: '';
  display: block;
  margin: -25px auto 0;
  width: 100%;
  height: 25px;
  border-radius: 125px / 12px;
  box-shadow: 0 0 8px black;
}
.or-spacer span {
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 100%;
  margin-bottom: -25px;
  left: 50%;
  margin-left: -25px;
  border-radius: 100%;
  box-shadow: 0 2px 4px #999;
  background: white;
}
.or-spacer span i {
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: 4px;
  right: 4px;
  border-radius: 100%;
  border: 1px dashed #aaa;
  text-align: center;
  line-height: 40px;
  font-style: normal;
  color: #999;
}

.or-spacer-vertical {
  display: inline-block;
  margin-top: 100px;
  margin-left: 100px;
  width: 100px;
  position: relative;
}
.or-spacer-vertical .mask {
  overflow: hidden;
  width: 20px;
  height: 200px;
}
.or-spacer-vertical.left .mask:after {
  content: '';
  display: block;
  margin-left: -20px;
  width: 20px;
  height: 100%;
  border-radius: 12px / 125px;
  box-shadow: 0 0 8px black;
}
.or-spacer-vertical.right .mask:before {
  content: '';
  display: block;
  margin-left: 20px;
  width: 20px;
  height: 100%;
  border-radius: 12px / 125px;
  box-shadow: 0 0 8px black;
}
.lightbox{
	height:400px;
	width:500px;
	margin:0px auto 0px auto;
	background-color:white;
}
#comic{
	width:900px;
	height:300px;
	margin-left:auto;
	margin-right:auto;
	border: 1px solid black;
background-color:white;
}

#controlbar{
	margin-top:5px;
	width:900px;
	height:35px;
	margin-left:auto;
	margin-right:auto;
}

headr2{
	font-family:inherit;
}

.buttonicon{
	height:35px;
	width:auto;
	float:left;
	top:0;
	bottom:0;
	font-size:30px;
	letter-spacing:-12px;
	margin-left:10.5%;
	margin-right:10%;
	padding-right:12px;
	color:black;
}

.buttonicon:hover{
	color: #9F111B;
}


.glyphicon{
	float:left;
	top:0;
	bottom:0;
}