<!doctype html>

<!-- Comics -->

<html lang="en">
<head>
	<meta charset="utf-8">

	<title>Dan Hamilton, Online!</title>
	<meta name="description" content="The homepage of all things Dan Hamilton">
	<meta name="author" content="Dan Hamilton">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<!-- Twitter Card data -->
	<meta name="twitter:card" content="summary">
	<meta name="twitter:title" content="Comics">
	<meta name="twitter:description" content="Comics written and illustrated by Dan">
	<meta name="twitter:creator" content="@dan_hamilton">
	<meta name="twitter:image" content="http://www.danhamiltononline.com/images/comicscard.PNG">

	<!-- Open Graph data -->
	<meta property="og:title" content="Comics" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="http://www.danhamiltononline.com/comics/" />
	<meta property="og:image" content="http://www.danhamiltononline.com/images/comicscard.PNG" />
	<meta property="og:description" content="Comics written and illustrated by Dan" /> 
	<meta property="og:site_name" content="Dan Hamilton Online" />
	<meta property="fb:admins" content="1244040787" />
	<link rel="stylesheet" href="/css/main.css">
	<link href='http://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
	<link rel="shortcut icon" type="image/png" href="/images/favicon.png"/>
</head>

<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4&appId=313746538640780";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
	<div id="container2">
		<div id="socialbanner">
			<a href="http://www.twitter.com/dan_hamilton" class="socialicon twittericon"></a>
			<a href="http://www.facebook.com/hardlyknower" class="socialicon fbicon"></a>
			<a href="http://www.instagram.com/dan_hamilton" class="socialicon instaicon"></a>
			<a href="https://www.linkedin.com/pub/daniel-hamilton/32/868/619" class="socialicon linkedicon"></a>
		</div>
		<div id="banner">
			<div id="hitbox"></div>
		</div>
		<div id="navbar">
			<a href="/" class="menu_item s82">Home</a>
			<a href="/comics" class="menu_item selected s94">Comics</a>
			<a href="/shenanigans" class="menu_item s139">Shenanigans</a>
			<a href="/athletics" class="menu_item s102">Athletics</a>
			<a href="/music" class="menu_item s82">Music</a>
			<a href="/video" class="menu_item s82">Video</a>
		</div>
		<div id="main2">
			<img src="" id="comic"/>
			<div id="controlbar">
				<a href="/comics" id="firstb" class="buttonicon"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></a>	
				<a href="/comics" id="prevb" onclick="navclick()" class="buttonicon"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></a>
				<a href="/comics" id="nextb" onclick="navclick()" class="buttonicon"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>	
				<a href="/comics" id="currentb" class="buttonicon"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>	
			</div>
		</div>
		<a href="https://twitter.com/share" class="twitter-share-button" data-via="Dan_Hamilton"></a>
		
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
		<div class="fb-share-button" class="facebookshare" data-layout="button_count"></div>
		</div>
	<script src="/js/main.js"></script>
	<script src="/js/comicload.js"></script>
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-65965734-1', 'auto');
			ga('send', 'pageview');

	</script>
</body>
</html>
